[Unit]
Description=Backup Bitwarden
PartOf=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/bitwarden
ExecStart=/usr/bin/docker run --rm --name backup \
	-v /opt/bitwarden/:/opt/bitwarden \
	-e AWS_ACCESS_KEY_ID={{ backups.ak }} \
	-e AWS_SECRET_ACCESS_KEY={{ backups.sk }} \
	-e AWS_DEFAULT_REGION={{ backups.region }} \
	-e RESTIC_PASSWORD={{ backups.restic_password }} \
	restic/restic -r s3:{{ backups.endpoint_restic }}/vaultwarden backup /opt/bitwarden
ExecStartPost=/usr/bin/docker run --rm --name backup \
	-v /opt/bitwarden/:/opt/bitwarden \
	-e AWS_ACCESS_KEY_ID={{ backups.ak }} \
	-e AWS_SECRET_ACCESS_KEY={{ backups.sk }} \
	-e AWS_DEFAULT_REGION={{ backups.region }} \
	-e RESTIC_PASSWORD={{ backups.restic_password }} \
	restic/restic -r s3:{{ backups.endpoint_restic }}/vaultwarden forget \
		--keep-hourly 48 \
		--keep-daily 7 \
		--keep-monthly 12 \
		--keep-yearly 1
		--group-by ""
