services:
  wireguard:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=0
      - PGID=0
      - TZ=UTC
      - LOG_CONFS=true
    volumes:
      - ./wireguard.conf:/config/wg0.conf
      - /lib/modules:/lib/modules
    network_mode: host
    restart: unless-stopped
  dns:
    image: docker.io/ubuntu/bind9:latest
    container_name: dns
    networks:
      - gateway
    ports:
      - 53:53
      - 53:53/udp
      - 953:953
    volumes:
      - dns-cache:/var/cache/bind
      - dns-run:/run/named
      - ./rndc.key:/etc/bind/rndc.key
      - ./named.conf:/etc/bind/named.conf
      - ./home.tremoureux.fr:/etc/bind/home.tremoureux.fr
  http2136:
    image: ghcr.io/tsacha/http2136:latest
    container_name: http2136
    env_file:
      - .env
    networks:
      - gateway
    volumes:
      - http2136-socket:/run
      - dns-run:/run/named
  reverse:
    image: caddy
    container_name: reverse
    volumes:
      - /opt/gateway/Caddyfile:/etc/caddy/Caddyfile:ro
      - /etc/letsencrypt:/etc/letsencrypt
      - http2136-socket:/run
    ports:
      - 2136:2136
      - 443:443
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    volumes:
      - /opt/bitwarden:/data
      - /etc/letsencrypt:/etc/letsencrypt
    environment:
      - DOMAIN=https://{{ bitwarden_vhost }}

networks:
  gateway:

volumes:
  http2136-socket:
  dns-run:
  dns-cache:
