[Unit]
Description=Certificates
PartOf=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/gateway
ExecStart=/usr/bin/docker run --rm --name certbot-renew \
	-v "/etc/letsencrypt:/etc/letsencrypt" \
	-v "/opt/gateway:/opt/gateway" \
	-v "/var/lib/letsencrypt:/var/lib/letsencrypt" \
	certbot/dns-ovh renew
ExecStartPost=docker kill -s SIGHUP reverse
