[Unit]
Description=Certificates
PartOf=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/gateway
ExecStart=/usr/bin/docker run --rm --name certbot \
	-v "/etc/letsencrypt:/etc/letsencrypt" \
	-v "/var/lib/letsencrypt:/var/lib/letsencrypt" \
	certbot/dns-ovh renew
ExecStartPost=docker-compose kill -s SIGHUP lb
