@ 60 IN SOA {{ gw_fqdn }}. {{ gw_fqdn }}. 2022102109 3600 600 2600 30
@ 60 IN NS  {{ gw_fqdn }}.

{% for node in nodes %}
{{ node }} A {{ nodes[node]["ip4"].split("/")[0] }}
{{ node }} AAAA {{ nodes[node]["ip6"].split("/")[0] }}
{{ kube.endpoint }}. AAAA {{ nodes[node]["ip6"].split("/")[0] }}
{% endfor %}

{{ boot.endpoint }}. AAAA {{ boot.host }}

dummy    A    82.66.106.183
dummy    AAAA 2a01:e0a:1c0:da86:2::1
lldap    AAAA 2a01:e0a:1c0:da86:2::1
auth     AAAA 2a01:e0a:1c0:da86:2::1
grafana  AAAA 2a01:e0a:1c0:da86:2::1
