---
version: "3.9"
services:
  dhcpv6:
    image: ghcr.io/tsacha/kea:latest
    container_name: dhcpv6
    network_mode: host
    volumes:
      - /opt/boot/kea:/config
  tftp:
    image: ghcr.io/tsacha/tftp:latest
    network_mode: host
    volumes:
      - /opt/boot/assets:/assets
  boot:
    image: caddy
    container_name: boot
    volumes:
      - /opt/boot/Caddyfile.boot:/etc/caddy/Caddyfile:ro
      - /opt/boot/assets:/web
    ports:
      - 8082:8082
  lb:
    image: caddy
    container_name: lb
    volumes:
      - /opt/bitwarden/Caddyfile:/etc/caddy/Caddyfile:ro
      - /etc/letsencrypt:/etc/letsencrypt
    ports:
      - 443:443
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    volumes:
      - /opt/bitwarden:/data
      - /etc/letsencrypt:/etc/letsencrypt
    environment:
      - DOMAIN=https://{{ bitwarden_vhost }}

volumes:
  dns-run:
  dns-cache:
