options {
  directory "/var/cache/bind";
  dnssec-validation auto;
  listen-on { any; };
  listen-on-v6 { any; };

  allow-recursion { any; };
  allow-query { any; };
  allow-query-cache { any; };

  dns64 {{ nat64_prefix }} {
    clients { any; };
    break-dnssec yes;
    recursive-only yes;
  };
};
