---
machine:
  certSANs:
    - kube.{{ network.fqdn }}
cluster:
  allowSchedulingOnControlPlanes: true
  controlPlane:
    endpoint: https://kube.{{ network.fqdn }}:6443
  proxy:
    disabled: true
  clusterName: {{ network.fqdn|replace('.', '-') }}
  etcd:
    listenSubnets:
      - {{ network.ipv6.range }}
    advertisedSubnets:
      - {{ network.ipv6.range }}
