---
machine:
  network:
    nameservers:
      - {{ network.ipv6.gw_wan }}
      - {{ network.ipv4.gw }}
  time:
    disabled: false
    servers:
      - {{ network.ipv6.gw_wan }}
  kubelet:
    extraArgs:
      rotate-server-certificates: true


cluster:
  network:
    cni:
      name: none
    podSubnets:
      - {{ network.ipv6.pods }}
      - {{ network.ipv4.pods }}
    serviceSubnets:
      - {{ network.ipv6.svc }}
      - {{ network.ipv4.svc }}
  discovery:
    enabled: false
  controllerManager:
      extraArgs:
          allocate-node-cidrs: false
