---
{% set n = nodes[node] %}
machine:
  network:
    hostname: {{ node }}
    interfaces:
      - interface: {{ n.interface }}
        addresses:
          - {{ n.ipv6 }}
        routes:
          - network: ::/0
            gateway: {{ network.ipv6.gw }}
  install:
    disk: {{ n.boot_disk }}
    wipe: true
  sysctls:
    net.ipv6.conf.{{ n.interface }}.accept_ra: "0"

{% if n.data_disk %}
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: data-volume
provisioning:
  diskSelector:
    match: '"{{ n.data_disk }}" in disk.symlinks'
  minSize: 200GB
{% endif %}
{% if n.media_disk %}
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: media-volume
provisioning:
  diskSelector:
    match: '"{{ n.media_disk }}" in disk.symlinks'
  minSize: 2TB
{% endif %}
