{
  "Dhcp6": {
    "interfaces-config": {
      "interfaces": ["{{ boot.interface }}"],
      "service-sockets-require-all": true,
      "service-sockets-max-retries": 5,
      "service-sockets-retry-wait-time": 5000
    },
    "lease-database": {
      "type": "memfile",
      "persist": true
    },
    "expired-leases-processing": {
      "reclaim-timer-wait-time": 10,
      "flush-reclaimed-timer-wait-time": 25,
      "hold-reclaimed-time": 360,
      "max-reclaim-leases": 100,
      "max-reclaim-time": 250,
      "unwarned-reclaim-cycles": 5
    },
    "preferred-lifetime": 240,
    "valid-lifetime": 300,
    "renew-timer": 180,
    "rebind-timer": 240,
    "client-classes": [
      {
        "name": "ipxe_script",
        "test": "substring(option[15].hex, 2, 4) == 'iPXE'",
        "option-data": [
          {
            "name": "bootfile-url",
            "code": 59,
            "data": "http://{{ boot.fqdn }}/menu.ipxe"
          }
        ]
      },
      {
        "name": "http_client",
        "test": "(option[61].exists) and (substring(option[16].hex, 6, 10) == 'HTTPClient')",
        "option-data": [
          {
            "name": "vendor-class",
            "csv-format": false,
            "data": "00000000000A48545450436C69656E74" # HTTPClient
          },
          {
            "name": "dns-servers",
            "data": "{{ network.ipv6.gw_wan }}"
          },
          {
            "name": "bootfile-url",
            "data": "http://{{ boot.fqdn }}/snponly.x86_64.efi"
          }
        ]
      },
      {
        "name": "pxe_client",
        "test": "(option[61].exists) and (substring(option[16].hex, 6, 9) == 'PXEClient')",
        "option-data": [
          {
            "name": "bootfile-url",
            "data": "tftp://{{ boot.fqdn }}/snponly.x86_64.efi"
          },
          {
            "name": "dns-servers",
            "data": "{{ network.ipv6.gw_wan }}"
          }
        ]
      }
    ],
    "subnet6": [
      {
        "id": 1,
        "pools": [
          {
            "pool": "{{ boot.pools.ipxe }}",
            "client-class": "ipxe_script"
          },
          {
            "pool": "{{ boot.pools.http }}",
            "client-class": "http_client"
          },
          {
            "pool": "{{ boot.pools.pxe }}",
            "client-class": "pxe_client"
          }
        ],
        "subnet": "{{ network.ipv6.range }}",
        "interface": "{{ boot.interface }}"
      }
    ]
  }
}
