cluster:
  inlineManifests:
    - name: cilium
      contents: |-
        ---
        apiVersion: v1
        kind: Namespace
        metadata:
          name: "cilium"
{{ helm "template" "cilium" "cilium/cilium" "--namespace" "cilium" "-f" "talos/data/cilium-options.yaml" "--version=1.14.0-rc.0"  | strings.Indent 8 }}
