---
machine:
  certSANs:
    - {{ (index (datasource "secrets").nodes (env.Getenv "NODE")).hostname }}
  network:
    hostname: {{ (index (datasource "secrets").nodes (env.Getenv "NODE")).hostname }}
    interfaces:
      - interface: eth0
        addresses:
          - {{ (index (datasource "secrets").nodes (env.Getenv "NODE")).ip6 }}
          - {{ (index (datasource "secrets").nodes (env.Getenv "NODE")).ip4 }}
  install:
    disk: /dev/sda
