# /etc/systemd/system/media.mount
[Unit]
Description=Mount u-media-volume at /media
After=local-fs-pre.target
Before=local-fs.target

[Mount]
What=/dev/disk/by-partlabel/u-media-volume
Where=/media
Type=auto
Options=defaults,nofail

[Install]
WantedBy=local-fs.target
