[Unit]
Description=Run rclone sync for folder %i every 2 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
Unit=sync@.service

[Install]
WantedBy=timers.target
