version: 2
{% if boot.interface.0 == "w" %}
wifis:
  {{ boot.interface }}:
{% else %}
ethernets:
  ethernet:
    match:
      name: "e*"
{% endif %}
    dhcp4: false
    dhcp6: false
    accept-ra: false
    addresses:
      - {{ boot.ipv6 }}
      - {{ boot.ipv4 }}
    routes:
      - to: ::/0
        via: {{ network.ipv6.gw }}
      - to: 0.0.0.0/0
        via: {{ network.ipv4.gw }}
    nameservers:
      search:
        - {{ network.fqdn }}
      addresses:
        - {{ network.ipv6.gw }}
        - {{ network.ipv4.gw }}
{% if boot.interface.0 == "w" %}
    access-points:
      {{ network.ssid }}:
        password: {{ network.psk }}
{% endif %}
