#cloud-config
hostname: boot
fqdn: {{ boot.fqdn }}
manage_etc_hosts: true
package_update: true
package_reboot_if_required: true
package_upgrade: true
users:
  - name: root
    shell: /bin/bash
    ssh_import_id:
      - gh:tsacha
packages:
  - caddy
  - jool-dkms
  - jool-tools
  - kea-dhcp6-server
  - linux-headers-generic
  - neovim
  - net-tools
  - tftpd-hpa
  - unbound
runcmd:
  - sed -i 's/^#DNSStubListener=yes/DNSStubListener=no/' /etc/systemd/resolved.conf
ntp:
  enabled: true
  ntp_client: systemd-timesyncd
  servers:
    - {{ network.ipv6.gw_wan }}
    - {{ network.ipv4.gw }}
# Reboot the instance after configuration
power_state:
  mode: reboot
  message: Rebooting after initial setup
  timeout: 30
  condition: true
