---
machine:
  network:
    hostname: {{ .Env.bl2_hostname }}
    interfaces:
      - interface: eth0
        addresses:
          - {{ .Env.bl2_ip6 }}
          - {{ .Env.bl2_ip4 }}
  install:
    disk: /dev/sda
    extraKernelArgs:
      - pci=noaer
