{
  "Dhcp6": {
    "interfaces-config": {
      "interfaces": [
        "{{ ansible_default_ipv6.interface }}"
      ]
    },
    "lease-database": {
      "type": "memfile",
      "persist": true
    },
    "expired-leases-processing": {
      "reclaim-timer-wait-time": 10,
      "flush-reclaimed-timer-wait-time": 25,
      "hold-reclaimed-time": 3600,
      "max-reclaim-leases": 100,
      "max-reclaim-time": 250,
      "unwarned-reclaim-cycles": 5
    },
    "preferred-lifetime": 240,
    "valid-lifetime": 300,
    "renew-timer": 180,
    "rebind-timer": 240,
    "client-classes": [
      {
        "name": "ipxe_script",
        "test": "substring(option[user-class].hex,2,4) == 0x69505845",
        "option-data": [
          {
            "name": "bootfile-url",
            "code": 59,
            "space": "dhcp6",
            "csv-format": true,
            "data": "http://[{{ boot.host }}]:8082/menu.ipxe"
          }
        ]
      },
      {
        "name": "uefi_x64_ftp",
        "test": "option[client-arch-type].hex == 0x0007",
        "option-data": [
          {
            "name": "bootfile-url",
            "code": 59,
            "space": "dhcp6",
            "csv-format": true,
            "data": "tftp://[{{ boot.host }}]/snponly.efi"
          }
        ]
      },
      {
        "name": "uefi_arm64_ftp",
        "test": "option[client-arch-type].hex == 0x0029",
        "option-data": [
          {
            "name": "bootfile-url",
            "code": 59,
            "space": "dhcp6",
            "csv-format": true,
            "data": "tftp://[{{ boot.host }}]/snponly-arm64.efi"
          }
        ]
      },
      {
        "name": "uefi_x64_http",
        "test": "option[client-arch-type].hex == 0x0010",
        "option-data": [
          {
            "name": "vendor-class",
            "code": 16,
            "space": "dhcp6",
            "csv-format": false,
            "data": "00000000000A48545450436C69656E74"
          },
          {
            "name": "bootfile-url",
            "code": 59,
            "space": "dhcp6",
            "csv-format": true,
            "data": "http://[{{ boot.host }}]:8082/assets/snponly.efi"
          },
          {
            "name": "bootfile-url",
            "code": 59,
            "space": "dhcp6",
            "csv-format": true,
            "data": "http://[{{ boot.host }}]:8082/assets/snponly.efi"
          }
        ]
      }
    ],
    "option-data": [
      {
        "name": "dns-servers",
        "data": "{{ kube.gw6_wan }}"
      }
    ],
    "subnet6": [
      {
        "pools": [
          {
            "pool": "{{ kube.nodesubnet6|ansible.utils.ipsubnet(80, 256) }}"
          }
        ],
        "subnet": "{{ kube.nodesubnet6 }}",
        "interface": "{{ ansible_default_ipv6.interface }}"
      }
    ]
  }
}
