{
  servers {
    trusted_proxies static {{ network.ipv4.range }} {{ network.ipv6.range }}
  }
}

{% if inventory_hostname == "bl3" %}
{{ authelia.url }} {
  tls /etc/letsencrypt/live/{{ authelia.url }}/fullchain.pem /etc/letsencrypt/live/{{ authelia.url }}/privkey.pem
  reverse_proxy http://authelia:9091
}

{{ lldap.url }} {
  tls /etc/letsencrypt/live/{{ lldap.url }}/fullchain.pem /etc/letsencrypt/live/{{ lldap.url }}/privkey.pem
  reverse_proxy http://lldap:17170
}

{{ docs.url }} {
  tls /etc/letsencrypt/live/{{ docs.url }}/fullchain.pem /etc/letsencrypt/live/{{ docs.url }}/privkey.pem
  reverse_proxy http://docs-webserver:8000
}

{{ money.url }} {
  tls /etc/letsencrypt/live/{{ money.url }}/fullchain.pem /etc/letsencrypt/live/{{ money.url }}/privkey.pem
  reverse_proxy http://actual-server:5006
}

{{ jellyfin.url }} {
  tls /etc/letsencrypt/live/{{ jellyfin.url }}/fullchain.pem /etc/letsencrypt/live/{{ jellyfin.url }}/privkey.pem
  reverse_proxy http://host.containers.internal:8096
}

{{ sonarr.url }} {
  tls /etc/letsencrypt/live/{{ sonarr.url }}/fullchain.pem /etc/letsencrypt/live/{{ sonarr.url }}/privkey.pem
  reverse_proxy http://sonarr:8989
}

{{ radarr.url }} {
  tls /etc/letsencrypt/live/{{ radarr.url }}/fullchain.pem /etc/letsencrypt/live/{{ radarr.url }}/privkey.pem
  reverse_proxy http://radarr:7878
}

{{ prowlarr.url }} {
  tls /etc/letsencrypt/live/{{ prowlarr.url }}/fullchain.pem /etc/letsencrypt/live/{{ prowlarr.url }}/privkey.pem
  reverse_proxy http://prowlarr:9696
}

{{ autobrr.url }} {
  tls /etc/letsencrypt/live/{{ autobrr.url }}/fullchain.pem /etc/letsencrypt/live/{{ autobrr.url }}/privkey.pem
  reverse_proxy http://autobrr:7474
}

{{ jellyseerr.url }} {
  tls /etc/letsencrypt/live/{{ jellyseerr.url }}/fullchain.pem /etc/letsencrypt/live/{{ jellyseerr.url }}/privkey.pem
  reverse_proxy http://jellyseerr:5055
}

{% endif %}
